{% extends 'base/__base.html' %}
{% block title %}
    Đổi mật khẩu
{% endblock title %}

{% block content %}
    {% load static %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <img class="img-fluid" src="{% static 'img/a.jpeg' %}" alt="">
            </div>
            <div class="col-sm-4">
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form  %}
                        <div class="form-group {% if field.errors %} is-invalid {% else %} is-valid {% endif %}">
                            {{ field.label }}
                            {{ field }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <div style="display: block;" class="invalid-feedback">
                                        {{error}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-success btn-lg btn-block" value="Change password">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
