{% extends 'base/__base.html' %}
{% block title %}
    Đăng nhập
{% endblock title %}

{% block content %}
    {% load static %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form  %}
                    <div class="form-group">
                        {{ field.label }}
                        {{ field }}
                    </div>
                    {% endfor %}
                    {% if message %} <!--Đăng nhập sai-->
                        <h4 style="color: red;">{{message}}</h4>
                    {% endif %}
                    <input type="submit" class="btn btn-success btn-lg btn-block" value="Login">
                    <p>Người dùng mới? <a class="nav-link" href="{% url 'register_user' %}">Đăng kí tài khoản</a></p>
                </form>
            </div>
            <div class="col-sm-8">
                <img class="img-fluid" src="{% static 'images/a.jpeg' %}" alt="">
            </div>
        </div>
    </div>
    {% endblock content %}
    